#website_header {
	color:blue;
	 font-size: 30px;
	 text-align:center;
	 font-style: italic;
	 background-color: green; 
     margin: 0 auto;
}


.none{
	color:black;
	 font-size: 60px;
	 margin-left: 50px; 
}

#start{
	 color:red; 
	 text-align: center; 
	 font-size: 60px;
     font-style: italic;
    }

#sochial{
	color: black;
	font-size: 35px;
}
